<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <SNLinks msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import SNLinks from '@/components/SNLinks.vue'

export default {
  name: 'Home',
  components: {
    SNLinks
  }
}
</script>
