<template>
  <div class="about">
    <CVWorkEntry msg="Entry 1"></CVWorkEntry>
    <CVWorkEntry msg="Entry 2"></CVWorkEntry>
  </div>
</template>

<script>
// @ is an alias to /src
import CVWorkEntry from '@/components/CV_Work_Entry.vue'

export default {
  name: 'Profile',
  components: {
    CVWorkEntry
  }
}
</script>