<template>
  <div class="container">
    <div class="character-list">
      <div class="character-list-icon-container" v-for="(character, index) in characters" :key="index">
        <router-link v-bind:to="getRouterPath(character)">
          <img class="character-list-icon" v-bind:src="getIconPath(character)">
        </router-link>
      </div>
      <!-- <router-link to="/shinycolors/hiori"><img class="character-list-icon" src="/shinycolors/hiori/1040020010_icon.png"></router-link> -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import ShinyColorsCharacter from '@/views/ShinyColorsCharacter.vue';

export default {
  name: 'ShinyColors',
  components: {
    // ShinyColorsCharacter
  },
  data: function() {
    return {
      characters: [
        'mano', 'hiori', 'meguru', 
        'kogane', 'mamimi', 'sakuya', 'yuika', 'kiriko',
        'kaho', 'chiyoko', 'juri', 'rinze', 'natsuha',
        'amana', 'tenka', 'chiyuki',
        'asahi', 'fuyuko', 'mei',
        'toru', 'madoka', 'koito', 'hinana'
      ]
    }
  },
  methods: {
    getRouterPath(character) {
      return `/shinycolors/${character}`;
    },
    getIconPath(character) {
      return `/shinycolors/${character}/navicon_${character}.png`;
    }
  }
}
</script>

<style scoped>
  .character-list {
    display: flex;
    justify-content: center;
  }
  .character-list-icon {
    width: 4rem;
    margin: 0 5px;
  }
  .character-list-icon-container {
    display: inline;
  }
</style>

