<template>
    <div class="container">
        <ShinyColors/>
        <Modal
          v-bind:cardInModal="cardInModal"
          v-show="isModalVisible"
          @close="closeModal"
        />
        <h1>{{data.name}}</h1>
        <h2>Produce</h2>
        <div class="produce-cards">
            <div class="card-row" v-for="card in data.produceCards" :key="card.iconPath">
                <img class="card-icon" v-bind:src="card.iconPath" v-bind:alt="card.alt"/>
                <div class="card-container">
                  <img class="card-border" v-bind:src="card.borderPath" @click="showModal(card.cardPath)"/>
                  <img class="card-type-icon" v-bind:src="card.typeIconPath"/>
                  <img class="card" v-bind:src="card.cardPath"/>
                </div>
                <div class="card-container">
                  <img class="card-border" v-bind:src="card.borderPath" @click="showModal(card.fesPath)"/>
                  <img class="card-type-icon" v-bind:src="card.typeIconPath"/>
                  <img class="cardFes" v-bind:src="card.fesPath">
                </div>
            </div>
        </div>
        <h2>Support</h2>
        <div class="support-cards">
          <div class="card-row" v-for="card in data.supportCards" :key="card.iconPath">
              <img class="card-icon" v-bind:src="card.iconPath" v-bind:alt="card.alt"/>
               <div class="card-container">
                  <img class="card-border" v-bind:src="card.borderPath" @click="showModal(card.cardPath)"/>
                  <img class="card-type-icon" v-bind:src="card.typeIconPath"/>
                  <img class="card" v-bind:src="card.cardPath">
               </div>
          </div>
        </div>
    </div>
</template>

<script>
import Modal from '@/components/Modal.vue';
import ShinyColors from '@/views/ShinyColors.vue'

export default {
  name: 'ShinyColorsCharacter',
  components: {
    Modal,
    ShinyColors
  },
  props: {
    character: String
  },
  data: function () {
    return {
      data: null, // retrieve data from the static map
      isModalVisible: false,
      cardInModal: "",
    }
  },
  methods: {
      showModal(card) {
          this.cardInModal = card;
          this.isModalVisible = true;
      },
      closeModal() {
          this.isModalVisible = false;
      },
      updateCurrentData(character) {
        this.data = characterDataTest[character];
      }
  },
  created() {
    this.updateCurrentData(this.$route.params.character);
  },
  beforeRouteUpdate (to, from, next) {
    this.updateCurrentData(to.params.character);
    next();
  }
}

// type = PRODUCE or SUPPORT
const buildPaths = function (type, rarity, character, cardId) {
  var _iconPath = `${process.env.BASE_URL}shinycolors/${character}/${cardId}_icon.png`;
  var _cardPath = `${process.env.BASE_URL}shinycolors/${character}/${cardId}_img.jpg`;
  var _fesPath  = `${process.env.BASE_URL}shinycolors/${character}/${cardId}_img2.jpg`;
  var _borderPath = `${process.env.BASE_URL}shinycolors/card_border_${rarity}.png`;
  var _typeIconPath = `${process.env.BASE_URL}shinycolors/card_icon_${type}.png`;
  if (type === "produce") return { iconPath: _iconPath, cardPath: _cardPath, fesPath: _fesPath, borderPath: _borderPath, typeIconPath: _typeIconPath };
  if (type === "support") return { iconPath: _iconPath, cardPath: _cardPath, borderPath: _borderPath, typeIconPath: _typeIconPath };
}

const characterCardsArray = [
  { name: 'mano',     cards: { produce: { SSR: 5, SR: 4, R: 1 },  support: { SSR: 7, SR: 4, R: 1 } } },
  { name: 'hiori',    cards: { produce: { SSR: 4, SR: 3, R: 1 },  support: { SSR: 5, SR: 5, R: 1 } } },
  { name: 'meguru',   cards: { produce: { SSR: 5, SR: 4, R: 1 },  support: { SSR: 5, SR: 4, R: 1 } } },
  { name: 'kogane',   cards: { produce: { SSR: 4, SR: 4, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'mamimi',   cards: { produce: { SSR: 5, SR: 4, R: 1 },  support: { SSR: 6, SR: 2, R: 1 } } },
  { name: 'sakuya',   cards: { produce: { SSR: 4, SR: 4, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'yuika',    cards: { produce: { SSR: 4, SR: 3, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'kiriko',   cards: { produce: { SSR: 4, SR: 4, R: 1 },  support: { SSR: 4, SR: 4, R: 1 } } },
  { name: 'kaho',     cards: { produce: { SSR: 4, SR: 4, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'chiyoko',  cards: { produce: { SSR: 4, SR: 3, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'juri',     cards: { produce: { SSR: 5, SR: 4, R: 1 },  support: { SSR: 4, SR: 3, R: 1 } } },
  { name: 'rinze',    cards: { produce: { SSR: 5, SR: 4, R: 1 },  support: { SSR: 4, SR: 3, R: 1 } } },
  { name: 'natsuha',  cards: { produce: { SSR: 5, SR: 3, R: 1 },  support: { SSR: 5, SR: 4, R: 1 } } },
  { name: 'amana',    cards: { produce: { SSR: 5, SR: 4, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'tenka',    cards: { produce: { SSR: 4, SR: 5, R: 1 },  support: { SSR: 5, SR: 3, R: 1 } } },
  { name: 'chiyuki',  cards: { produce: { SSR: 4, SR: 4, R: 1 },  support: { SSR: 6, SR: 2, R: 1 } } },
  { name: 'asahi',    cards: { produce: { SSR: 2, SR: 2, R: 1 },  support: { SSR: 4, SR: 2, R: 1 } } },
  { name: 'fuyuko',   cards: { produce: { SSR: 1, SR: 2, R: 1 },  support: { SSR: 3, SR: 1, R: 1 } } },
  { name: 'mei',      cards: { produce: { SSR: 3, SR: 2, R: 1 },  support: { SSR: 2, SR: 2, R: 1 } } },
  { name: 'toru',     cards: { produce: { SSR: 2, SR: 0, R: 1 },  support: { SSR: 1, SR: 0, R: 1 } } },
  { name: 'madoka',   cards: { produce: { SSR: 1, SR: 0, R: 1 },  support: { SSR: 1, SR: 1, R: 1 } } },
  { name: 'koito',    cards: { produce: { SSR: 1, SR: 0, R: 1 },  support: { SSR: 1, SR: 1, R: 1 } } },
  { name: 'hinana',   cards: { produce: { SSR: 1, SR: 1, R: 1 },  support: { SSR: 1, SR: 1, R: 1 } } }
];
const mapTypeToId = {
  SSR: '04', SR: '03', 'R': '02'
}

const buildCharacterData = function () {
  var result = {};
  var rarityId, charIndex, cardIndex, altText;
  var rarity, i;

  characterCardsArray.forEach((char, index) => {
    var properCharName = char.name.charAt(0).toUpperCase() + char.name.slice(1);
    result[char.name] = {};
    result[char.name].name = properCharName;
    result[char.name].produceCards = [];
    result[char.name].supportCards = [];

    // produce
    for (rarity in char.cards.produce) {
      rarityId = mapTypeToId[rarity];
      charIndex = (index+1).toString().padStart(3, '0');
      for (i = 1; i <= char.cards.produce[rarity]; i++) {
        cardIndex = i.toString().padStart(3, '0').padEnd(4, '0');
        altText = `${properCharName} P-${rarity}${i}`;
        result[char.name].produceCards.push({...buildPaths('produce', rarity, char.name, `1${rarityId}${charIndex}${cardIndex}`), alt: altText})
      }
    }

    // support
    for (rarity in char.cards.support) {
      rarityId = mapTypeToId[rarity];
      charIndex = (index+1).toString().padStart(3, '0');
      for (i = 1; i <= char.cards.support[rarity]; i++) {
        cardIndex = i.toString().padStart(3, '0').padEnd(4, '0');
        altText = `${properCharName} S-${rarity}${i}`;
        result[char.name].supportCards.push({...buildPaths('support', rarity, char.name, `2${rarityId}${charIndex}${cardIndex}`), alt: altText})
      }
    }
  });
  return result;
};
var characterDataTest = buildCharacterData();
console.log(characterDataTest);

// const characterData = {
//   mano: { 
//       name: 'Mano',
//       produceCards: [
//           {...buildPaths('PRODUCE', 'mano', '1040010010'), alt: 'Mano P-SSR1'},
//           {...buildPaths('PRODUCE', 'mano', '1040010020'), alt: 'Mano P-SSR2'}
//       ]
//   }
// };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .produce-cards {
    display: flex;
    flex-direction: column;
  }
  .support-cards {
    display: flex;
    flex-direction: column;
  }

  .card-row {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
  }

  .card-icon {
    margin: 0 1rem;
  }

  .card-container {
    z-index: 3;
    position: relative;
    margin: 0 1rem;
  }

  .card-type-icon {
    z-index: 2;
    position: absolute;
    width: 50px;
    left: 8px;
    top: 5px;
  }

  .card-border {
    z-index: 1;
    position: absolute;
    width: 600px;
    cursor: pointer;
  }

  .card, .cardFes {
    z-index: 0;
    width: 595px;
    border-radius: 10px;
  }
</style>

