<template>
    <div class="box">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
export default {
  name: 'CV_Work_Entry',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>