<template>
  <transition name="modal-fade">
  <div class="modal-backdrop" @click="close">
    <div class="modal">
      <img :src="cardInModal" class="modal-img"/>
    </div>
  </div>
  </transition>
</template>

<script>
  export default {
    name: 'Modal',
    props: {
      cardInModal: String
    },
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>


<style>
 .modal-fade-enter,
  .modal-fade-leave-active {
    opacity: 0;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .5s ease
  }
  
  .modal-backdrop {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1200px;
    /* height: 70%; */
  }

  .modal-img {
    width: 100%;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
</style>
