body {
  font-family: "Montserrat", sans-serif;
  color: #292929;
  background: #fff5f5;
  margin: 0;
}

.wrap {
  padding: 10% 20%;
}

.box {
  display: flex;
  margin: 1rem;
  padding-left: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.container-center {
  display: flex;
  justify-content: center;
}

.logo-box {
  background: #fff5f5;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.underlined {
  color: #292929;
  flex: 1;
  font-size: 1.2em;
  line-height: 1.7;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.7s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined--thin {
  background-image: linear-gradient(to right, #292929, #292929);
}

/*# sourceMappingURL=style.css.map */
