<template>
  <div id="app">
    <nav id="nav">
      <router-link to="/home">HOME</router-link>
      <router-link to="/profile">PROFILE</router-link>
      <router-link to="/shinycolors">SHINY COLORS</router-link>
    </nav>
    <main id="main">
      <transition
        :name="transitionName"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <!-- <keep-alive> -->
          <router-view :key="$route.params.character"></router-view>
        <!-- </keep-alive> -->
      </transition>
    </main>
    <footer id="footer">

    </footer>
  </div>
</template>

<script>
const DEFAULT_TRANSITION = 'fade';

export default {
  name: 'App',
  data() {
    return {
      prevHeight: 0,
      transitionName: DEFAULT_TRANSITION
    };
  },
  methods: {
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);
      element.style.height = this.prevHeight;
      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = 'auto';
    },
  },
   created() {
    this.$router.beforeEach((to, from, next) => {
      let transitionName = to.meta.transitionName || from.meta.transitionName;
      if (transitionName === 'slide') {
        const toDepth = to.path.split('/').length;
        const fromDepth = from.path.split('/').length;
        transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
      }
      this.transitionName = transitionName || DEFAULT_TRANSITION;
      next();
    });
  },
  mounted() {
    let root = '/home';
    this.$router.push({ path: root });
  }
};
</script>

<style>
#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  /* padding: 2% 10%; */
}

#nav {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  background-color: rgb(61, 61, 61);
  text-align: center;
}

#nav a {
  color: hsl(0, 0%, 95%);
  text-decoration: none;
  margin: 5px;
  padding: 5px 15px;
}

#nav a.router-link-active {
  color: #31cfff;
  /* font-weight: bold; */
  /* border: 1px solid; */
  border-radius: 5px;
}

#main {
  padding: 20px;
  border: 1px solid rgb(209, 209, 209);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 5px 5px rgba(202, 202, 202, 0.534);
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
</style>
