$body-color: hsl(0, 100%, 98%);
$body-font-color: hsl(0, 0%, 16%);

// Just to make it a bit nice
body {
  font-family: 'Montserrat', sans-serif;
  color: $body-font-color;
  background: $body-color;
  // overflow: hidden;
  margin: 0;
}
.wrap {
  padding: 10% 20%;
}

.box {
  display: flex;
  margin: 1rem;
  padding-left: 1rem;
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 10px;
}

.container-center {
  display: flex;
  justify-content: center;
}

.logo-box {
  background: $body-color;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 10px;
}

// Now that is interesting
.underlined {
  color: $body-font-color;
  flex: 1;
  font-size: 1.2em;
  line-height: 1.7;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .7s;
  &:hover {
    background-size: 100% 100%;
  }
  &--thin {
    background-image: linear-gradient(to right, $body-font-color, $body-font-color);
  }
}


